<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Corona statistics</title>

    <link rel="stylesheet" href="css/styles.css?v=1.0">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

</head>

<body>
<div class="ct-chart"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="assets/js/scripts.js"></script>

</body>
</html>
